extends layout

block content
  .inner
    form.form(action="/publishMenu" method="POST")
      h2 Add new menu item
      label(for="name") Item Name
      input(type="text" name="name" required)
      label(for="text") Item Price
      input(type="text" name="price" required)
      input.button(type="submit" value="Register")
